/* ----- Lumelab WP Login Seite ----- */

/* Login Fenst breiter */

#login {
	width: 390px;
}


/* -- Login Lumelab Logo -- */

.login h1 a {
	background-image: url('https://www.lumelab.at/lumelab-framework/login/Lumelab.svg');
	background-size: 300px !important;
	height: 80px !important;
	width: 300px !important;
}


/* -- Lumelab Background -- */

body.login {
	background-color: #40c0e6;
	background-image: url('https://www.lumelab.at/lumelab-framework/login/WordPress-Agentur-Lumelab.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size:cover;
}

/* -- runde Ecken -- */

#loginform {
	border-radius:10px;
	box-shadow: 0 0 12px #767676;
}


/* -- Login Button -- */

.wp-core-ui .button-primary {
    background: #478ac6;
}


/* -- Passwort vergessen -- */

#nav {
	margin-bottom: 2em !important;
}
 
#nav a {
 	background-color: #478ac6;
 	border-radius:3px;
	color: #fff !important;
	padding: 10px 15px;
}

#nav a:hover {
 	background-color: #68b337;
}


/* -- Zurück zum Blog -- */

#backtoblog a {
 	background-color: #478ac6;
 	border-radius:3px;
	color: #fff !important;
	padding: 10px 15px;
}

#backtoblog a:hover {
 	background-color: #68b337;
}

